# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [64]:
#unique_school_names = school_data_complete["school_name"].value_counts()
#unique_school_names


school = school_data_complete['school_name'].nunique()
school

student_data = school_data_complete['student_name'].count()
student_data


total_budget = school_data['budget'].sum()
total_budget

average_math = school_data_complete['math_score'].mean()
average_math


average_reading = school_data_complete['reading_score'].mean()
average_reading

overal_passing = (average_math + average_reading) / 2
overal_passing


df_one = school_data_complete[school_data_complete.math_score >= 70]
percent_passing_math = (df_one['math_score'].count() / (student_data))*100
percent_passing_math

df_two = school_data_complete[school_data_complete.reading_score >= 70]
percent_passing_reading = (df_two['reading_score'].count() / (student_data))*100
percent_passing_reading


df = pd.DataFrame ( [[school, student_data , total_budget , average_math , average_reading , percent_passing_math , percent_passing_reading , overal_passing]] , columns = ["Total School", "Total Students", "Total Budget", "Average Math Score" , 
                              "Average Reading Score" , "% Passing Math" , "% Passing Reading" , "Overal Passing"])

df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overal Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [95]:
school_list = school_data_complete['school_name'].unique()
school_list

school_type = school_data_complete['type']
print(school_type)

#total_student = school_data_complete.groupby['school_name'].sum()
#total_student

#school_budget = school_data_complete['budget']
#school_budget





newdf = pd.DataFrame (index=[school_list] , columns = ["School Type", "Total Students", "Total School Budget", "Per Student Budget" , 
                              "Average Math Score" , "Average Reading Score" , "% Passing Math" , "% Passing Reading" , "% Overall Passing Rate"])
#newdf.set_index(['school_list'])
newdf

0        District
1        District
2        District
3        District
4        District
5        District
6        District
7        District
8        District
9        District
10       District
11       District
12       District
13       District
14       District
15       District
16       District
17       District
18       District
19       District
20       District
21       District
22       District
23       District
24       District
25       District
26       District
27       District
28       District
29       District
           ...
39140     Charter
39141     Charter
39142     Charter
39143     Charter
39144     Charter
39145     Charter
39146     Charter
39147     Charter
39148     Charter
39149     Charter
39150     Charter
39151     Charter
39152     Charter
39153     Charter
39154     Charter
39155     Charter
39156     Charter
39157     Charter
39158     Charter
39159     Charter
39160     Charter
39161     Charter
39162     Charter
39163     Charter
39164     Charter
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shelton High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hernandez High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wilson High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bailey High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holden High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pena High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wright High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rodriguez High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Johnson High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thomas High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [69]:
top_five = school_data_complete.sort_values(by=['overal_passing'])
top_five

KeyError: 'overal_passing'

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.